html, .row {
    padding: 0px;
    margin:0px;
}

.cover-logo {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.cover-sosmed{
    display: block;
    width: 130px;
    margin: auto;
    overflow: hidden;
}

.cover-sosmed li {
    float: left;
    padding: 10px;
}

.cover-logo img{
   position: absolute;
   top:20px;
   left: 45%;
}

.carousel{
    width: 100%;
    height: 400px;
}